{% for field in form %}
<style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    
        * {
            box-sizing: border-box;
        }
    
        input[type=text],
        select,
        textarea {
            width: 65%;
            padding: 12px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
            margin-top: 8px;
            margin-bottom: 8px;
            resize: vertical;
        }
    
        input[type=submit] {
            background-color: #4CAF50;
            color: white;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    
        input[type=submit]:hover {
            background-color: #45a049;
        }
    
        .container {
            max-width: 750px;
            border-radius: 5px;
            padding: 15px;
            margin: auto;
            background-color: #f2f2f2;
        }
    </style>


<font color="black">
    <div class="container">
        <div class="row">
        <div class="form-group">
            <div class="row justify-content-md-center">
                <span class="text-danger small">{{ field.errors }}</span>
            </div>
            <label class="control-label col-sm-3 align-item-center" for="song_title">{{ field.label_tag }}</label>
            <div>{{ field }}</div>
        </div>
    </div>
</div>
</font>
{% endfor %}